.dialog-section {
  padding: 2.5rem;
  display: inline-flex;
  flex-direction: column;
  font-family: nunito;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  width: 25rem;
  //   height: 13rem;

  > img {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    &:hover {
      background-color: rgba(141, 117, 230, 0.2);
    }
  }
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 !important;
  > mat-label {
    color: #797EF3;
    font-size: 1rem;
    font-weight: 800;
    padding-top: 0.5rem;
    padding-top: 0.5rem;
    > span {
      color: gray;
      font-weight: 500;
    }
  }
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 1.875rem;
}
Mat-dialog-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0;
  > button {
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1.5625rem;
    background: var(--Purple-1, #444df2);
  }
}

mat-autocomplete {
  background-color: white;
  border-radius: 0 1.8rem 1.8rem 1.8rem;
}

mat-option {
  border-radius: 10px !important;
  padding-top: 0.5rem !important;
  display: flex !important;
  align-items: center !important;
  gap: 5px;
  &:hover {
    background-color: rgba(141, 117, 230, 0.2) !important;
  }
}

.autocomplete-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 160px;
  width: 160px;
  img {
    border-radius: 100%;
    margin-right: 1rem;
  }
}

::ng-deep::ng-deep.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel{
  justify-content: flex-start;
}