<section class="dialog-section">
  <div>
    <h2 mat-dialog-title>Leute Hinzufügen</h2>
    <button class="closeButton" (click)="closeDialog()" mat-icon-button>
      <img src="../../../assets/img/icons/close.svg">
    </button>
  </div>
  <mat-dialog-content>
    <mat-label># Entwicklerteam</mat-label>
    <mat-form-field appearance="outline">
      <mat-chip-grid #chipList>
        <mat-chip-row *ngFor="let user of addedMembers" [removable]="removable">
          {{ user.name }}
          <mat-icon matChipRemove *ngIf="removable" (click)="removeUser(user)">cancel</mat-icon>
        </mat-chip-row>
        <input type="text" [matAutocomplete]="auto" [formControl]="nameControl" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" #inputValue placeholder="Name eingeben" matInput />
      </mat-chip-grid>
      <mat-autocomplete class="custom-autocomplete" #auto="matAutocomplete">
        <mat-option *ngFor="let message of filteredOptions | async" [value]="message.name"
          (click)="addSingleUser(message.name)">
          <div class="autocomplete-icons">
            <img [src]="getAvatarPath(message.avatar)" width="35" height="35" alt="Avatar" />
            {{ message.name }}
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button
      [ngStyle]=" inputValue.value? { 'background-color': 'var(--Purple-1, #444df2)' } : { 'background-color': 'gray', cursor: 'not-allowed' } "
      [disabled]="!inputValue.value" mat-flat-button color="primary"> Hinzufügen
    </button>
  </mat-dialog-actions>
</section>