<section>
    <div class="profile-section">
        <span>Profil</span>
        <button class="closeButton" (click)="closeDialog()" mat-icon-button>
            <img src="../../../assets/img/icons/close.svg">
        </button>
    </div>
    <div class="image-section">
        @if (currentUser.avatar.length > 1) {
            <img src="{{ currentUser.avatar }}">
        } @else {
            <img src="./../../assets/img/avatar/{{ currentUser.avatar }}.svg"/>    
        }
    </div>
    <div class="profile-name-container">
        <div class="profile-name-section">
            <h1>{{ currentUser.name }}</h1>
            <span>Bearbeiten</span>
        </div>
        <span><img src="../../assets/img/icons/online-1.svg">Aktiv</span>
    </div>
    <div class="profile-mail-section">
        <div class="profile-mail">
            <img src="../../assets/img/icons/mail-black.svg" alt="">
            <span>E-Mail Adresse</span>
        </div>
        <div>
            <a href="mailto:{{ currentUser.email }}">{{ currentUser.email }}</a>
        </div>
    </div>
</section>