<section>
    <div class="profile-section">
        <span>Profil</span>
        <img (click)="onNoClick()" src="./../../assets/img/icons/close.svg" alt="" />
    </div>
    <div class="image-section">
       <img src="./../../assets/img/avatar/1.svg" alt="" />    
    </div>
    <div class="profile-name-section">
        <h1>Leonhard Albert</h1>
        <span>Bearbeiten</span>
    </div>
    <div class="profile-active-section">
       <span>Active</span> 
    </div>
    <div class="profile-mail-section">
        <div class="profile-mail">
            <img src="../../assets/img/icons/mail-gray.svg" alt="">
            <span>E-Mail-Adresse</span>
        </div>
        <div>
            <span>sofi.mue&#64;beispiel.de</span>
        </div>
    </div>
</section>