<section>
    <div class="profile-section">
        <span>Profil</span>
        <img (click)="onNoClick()" src="./../../assets/img/icons/close.svg" alt="" />
    </div>
    <div class="image-section">
        @if (currentUser.avatar.length > 1) {
            <img src="{{ currentUser.avatar }}">
        } @else {
            <img src="./../../assets/img/avatar/{{ currentUser.avatar }}.svg"/>    
        }
    </div>
    <div class="profile-name-section">
        <h1>{{ currentUser.name }}</h1>
        <span>Bearbeiten</span>
    </div>
    <div class="profile-active-section">
       <span>{{ currentUser.online }}</span> 
    </div>
    <div class="profile-mail-section">
        <div class="profile-mail">
            <img src="../../assets/img/icons/mail-gray.svg" alt="">
            <span>E-Mail Adresse</span>
        </div>
        <div>
            <span>{{ currentUser.email }}</span>
        </div>
    </div>
</section>