<app-start>
    <button
        class="goBack"
        mat-icon-button
        (click)="location.back()"
    >
        <img
            src="assets/img/icons/arrow_back.svg"
            alt="Go back"
        />
    </button>
    <div class="description">
        <h1>Passwort zurücksetzen</h1>
        <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    </div>
    <form (submit)="sendResetEmail()">
        <div>
            <input
                type="email"
                [(ngModel)]="email"
                name="email"
                placeholder="beispielname@email.com"
                id="email"
            />
            <img src="assets/img/icons/mail-gray.svg" />
            @if (invalidEmail) {
                <span class="error"
                    >Diese E-Mail-Adresse ist leider ungültig.</span
                >
            }
        </div>
        <p>
            Wir senden Ihnen eine E-Mail, über die<br />
            Sie Ihr Passwort ändern können.
        </p>
        <button
            mat-flat-button
            class="submit"
            type="submit"
        >
            E-Mail senden
        </button>
    </form>
</app-start>

@if (emailSent) {
    <div class="mail-sent-slider">
        <img
            src="assets/img/icons/send-white.svg"
            alt=""
        />
        <h2>E-Mail gesendet</h2>
    </div>
}
