.start-screen {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(1.46deg, #313ae6 1.22%, #797ef3 98.76%);
  z-index: 2;
  opacity: 1;
  animation: 500ms fadeOut 2500ms ease-out forwards;

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99.99% {
    z-index: 2;
  }

  100% {
    z-index: 0;
    opacity: 0;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;

  >img:first-child {
    width: 4.375rem;
    height: 4.375rem;
  }

  >img:last-child {
    width: 9.75663rem;
    height: 1.5rem;
  }
}

.animation-logo {
  z-index: 99;
  position: absolute;
  top: auto;
  bottom: auto;
  animation: 500ms slideUpLeft 2500ms ease-out forwards;
  display: flex;
  opacity: 1;
  z-index: 2;
  align-items: center;
  gap: 2.3125rem;

  >img:first-child {
    width: 11.68613rem;
    height: 11.5rem;
    animation: 300ms slideInRight 500ms ease-out forwards;
    z-index: 1000;
    transform: translateX(15.90625rem);
  }

  >div {
    overflow: hidden;

    >img {
      height: 4.5rem;
      width: 29.5rem;
      opacity: 0;
      animation: 500ms slideinLeft 800ms ease-out forwards;
    }
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(15.90625rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideUpLeft {
  0% {
    /* Start in der Mitte des Bildschirms */
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
  }

  75% {
    z-index: 2;
  }

  100% {
    transform: translate(-20%, -10%) scale(0.5);
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
  }
}

@keyframes slideinLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInRightMobile {
  from {
    transform: translateX(calc((16.36313rem - 4.41588rem) / 2));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideUpMobile {
  0% {
    /* Start in der Mitte des Bildschirms */
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
  }

  75% {
    z-index: 2;
  }

  100% {
    transform: translate(calc(16.36313rem / 4), calc((-50% + (4.34556rem / 2)) + 3vh)) scale(0.5);
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3rem - 3rem);
  margin: 3rem;
}

.header {
  position: absolute;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  >div:not(.logo) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;

    >p {
      font-size: 1.125rem;
    }
  }
}

.secondary-button {
  padding: 0.625rem 0.9375rem;
  border-radius: 1.875rem;
  border-color: transparent !important;
  transition: 100ms ease-out;

  ::ng-deep::ng-deep .mdc-button__label {
    color: var(--purple-2);
    font-family: Figtree;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: normal;
    transition: 100ms ease-out;
    /* 1.35rem */
  }

  ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
    transition: 100ms ease-out;
  }

  ::ng-deep::ng-deep .mat-mdc-button-touch-target {
    height: 100%;
  }

  &:hover {
    border-color: var(--light-purple-line) !important;

    ::ng-deep::ng-deep .mdc-button__label {
      color: var(--purple-1);
      font-weight: 500;
    }

    ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {

      &::before {
        opacity: 0;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 1rem;
  left: auto;
  right: auto;
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
  z-index: 1;
}

.content {
  width: calc(37.875rem - 3.3125rem - 3.3125rem);	
  height: calc(41.8125rem - 2.5rem - 2.5rem);	
  padding: 2.5rem 3.3125rem;	
  flex-shrink: 0;	
  border-radius: 1.875rem;	
  background: var(--white);
  position: relative;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: var(--white);
  /* header */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

// Media Queries

@media (max-width: 431px) {
  .animation-logo {
    gap: 0.8rem;
    animation: 500ms slideUpMobile 2500ms ease-out forwards;


    >img:first-child {
      width: 4.41588rem;
      height: 4.34556rem;
      animation: 300ms slideInRightMobile 500ms ease-out forwards;
      transform: translateX(calc((16.36313rem - 4.41588rem) / 2));
    }

    >div {
      >img {
        width: 11.14725rem;
        height: 1.70044rem;
      }
    }
  }

  .content {
    width: calc(92.5vw - 1.25rem - 1.25rem);
    height: unset;
    padding: 2.1875rem 1.25rem;
  }

  .header {
    z-index: unset;
    inset: 5vh auto;
    flex-direction: column;
    align-items: center;

    >div:not(.logo) {
      align-items: center;
      gap: 1.25rem;
    }
  }

  .logo {
    gap: 0.8rem;

    >img:first-child {
      width: 3.5rem;
      height: 3.5rem;
    }

    >img:last-child {
      width: 8.45575rem;
      height: 1.3rem;
    }
  }

  .footer {
    display: none;
  }
  // TODO: no legal notice & privacy policy wrong?

  .secondary-button {
    border: 1px solid var(--purple-2) !important;

    ::ng-deep::ng-deep .mdc-button__label {
      font-weight: 700;
      color: var(--purple-1);
      font-family: Nunito;
      line-height: normal;
      letter-spacing: normal;
    }

    &:hover,
    &:active {
      border-color: var(--purple-1) !important;
      background-color: var(--purple-1);

      ::ng-deep::ng-deep .mdc-button__label {
        font-weight: 700;
        color: var(--white);
      }
    }
  }
}