.start-screen {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(1.46deg, #313ae6 1.22%, #797ef3 98.76%);
  z-index: 2;
  opacity: 1;
  animation: fadeOut forwards;
  animation-duration: 2s;
  animation-delay: 3s;

}

@keyframes fadeOut{
  from{
    z-index: 2;
    opacity: 1;
  }

  to{
    z-index: 0;
    opacity: 0;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;

  >img:first-child {
    width: 4.375rem;
    height: 4.375rem;
  }

  >img:last-child {
    width: 9.75663rem;
    height: 1.5rem;
  }
}

.animation-logo {
  z-index: 99;
  position: absolute;
  top: 40%;
  animation: slideUpLeft 2s forwards;
  animation-delay: 2.5s;
  display: flex;
  opacity: 1;
  z-index: 2;
  align-items: center;

  >img:first-child {
    width: 150px;
    height: 150px;
    animation: slideInRight;
    animation-duration: 1s ;
    z-index: 1000;
  }

  >img:last-child {
    height: 50px;
    opacity: 0;
    animation: slideinLeft forwards;
    animation-duration: 1s ;
    animation-delay: 1s;
  }
}

@keyframes slideUpLeft {
  0% {
    /* Start in der Mitte des Bildschirms */
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
  }

  75%{
    z-index: 2;
  }

  100% {
    transform: translate(-20%, -10%) scale(0.5);
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
  }
}

@keyframes slideinLeft {
  0% {
    transform: translateX(-160px);
    opacity: 0;
  }

  100% {
    transform: translateX(20px);
    opacity: 1;
  }
}

// TODO: oder and anmelden button dont have blend in/out effect on animation

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 3rem - 3rem);
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 3rem - 3rem);
  margin: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;

  >div:not(.logo) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;

    >p {
      font-size: 1.125rem;
    }

    >a {
      line-height: 120%;
      padding: 0.625rem 0.9375rem;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  >div:not(.logo) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;

    >p {
      font-size: 1.125rem;
    }

    >a {
      line-height: 120%;
      padding: 0.625rem 0.9375rem;
    }
  }
}

.footer {
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;

  >a {
    padding: 0.625rem 0.9375rem;
  }
}

.content {
  position: relative;
  width: calc(37.875rem - 3.3125rem - 3.3125rem);
  height: calc(41.8125rem - 2.5rem - 2.5rem);
  padding: 2.5rem 3.3125rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: var(--white);
  position: relative;
  width: calc(37.875rem - 3.3125rem - 3.3125rem);
  height: calc(41.8125rem - 2.5rem - 2.5rem);
  padding: 2.5rem 3.3125rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: var(--white);

  /* header */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  /* header */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}
