:host {
    max-width: 25%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 2rem;
    background: var(--white);
    overflow: hidden;
    min-width: 30vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.5rem;
    box-shadow: 0rem 0.1rem 0.2rem rgba($color: #000000, $alpha: 0.2);
    border-radius: 2rem 2rem 0 0;

    >div {
        display: flex;
        align-items: center;
        gap: 0.3125rem;


        >h1 {
            font-size: 1.5rem;
        }

        >div {
            display: flex;
            align-items: center;
            gap: 0.3125rem;

            >img {
                width: 1rem;
                height: 1rem;
            }

            >span {
                color: var(--purple-2);
                font-size: 0.875rem;
            }
        }
    }
}

.chat-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 6.5rem);

    .chat {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: calc(100% - 10.2725rem);
    }
}

.message {
    display: flex;
    padding: 0.625rem 2.5rem;
    align-items: flex-start;
    gap: 1.25rem;

    >img {
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 50%;
    }

    >div:not(.message-info) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }
}

.message:first-child {
    margin-top: 1.5rem;
}

.message-info {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    >h5 {
        font-size: 1.125rem;
    }

    >span {
        color: var(--text-gray);
        font-size: 0.875rem;
    }
}

.message-text {
    padding: 0.9375rem;
    align-self: stretch;
    border-radius: 0rem 1.25rem 1.25rem 1.25rem;
    background: var(--bg-color);
}

.reaction {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    >button {
        padding: 0.3125rem 0.625rem;
        border-radius: 1.25rem;
        border: 1px solid var(--light-purple-line);
        background: var(--white);
        box-shadow: unset;

        ::ng-deep::ng-deep .mdc-button__label {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            >img {
                width: 1.5rem;
                height: 1.5rem;
            }

            >span {
                font-size: 1rem;
            }
        }
    }

    >img {
        padding: 0.3125rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.chat-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 10%;
    border: 2px solid var(--bg-color);
    border-radius: 2rem;
    padding: 1.25rem;

    textarea {
        border: none;
        font-size: 1.125rem;
        color: var(--text-gray);
        resize: none;
        flex: 1;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 1.125rem;
        }
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;

        >button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;

            >img {
                width: 2.5rem;
                height: 2.5rem;
            }

            ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
            ::ng-deep::ng-deep .mat-mdc-button-touch-target,
            ::ng-deep::ng-deep .mat-mdc-focus-indicator,
            ::ng-deep::ng-deep .mat-ripple {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .button-wrapper {
            display: flex;
            gap: 0.3125rem;
            position: relative;

            .vector {
                width: 0rem;
                height: calc(2.5rem - 2px);
                border: 1px solid var(--light-purple-line);
            }

            >button {
                padding: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;

                ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
                ::ng-deep::ng-deep .mat-mdc-button-touch-target,
                ::ng-deep::ng-deep .mat-mdc-focus-indicator,
                ::ng-deep::ng-deep .mat-ripple {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }

        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

.input-container {
    padding: 0.5rem 1rem 1rem 1rem;
}