<main>
    <header>
        <div>
            <h1>Thread</h1>
            <div>
                <img src="../../../assets/img/icons/tag-purple.svg">
                <span>Entwicklerteam</span>
            </div>
        </div>
        <button (click)="closeThread()" mat-icon-button>
            <img src="../../../assets/img/icons/close.svg" alt="Send message">
        </button>
    </header>
    <div class="chat-body">
        
        <div class="chat">
            <div class="message" *ngFor="let message of messages">
                <img src="../../../assets/img/avatar/{{ message.avatar }}.svg">
                <div>
                    <div class="message-info">
                        <h5>{{ message.name }}</h5>
                        <span>{{ message.time }}</span>
                    </div>
                    <div class="message-text">{{ message.message }}</div>
                    <div>
                        <div class="reaction">
                            @if(objectKeysLength(message.reactions) > 0) {
                            @for(reaction of objectKeys(message.reactions); track reaction; let i = $index) {
                            <button mat-raised-button>
                                <img src="../../../assets/img/icons/emoji-{{ objectKeys(message.reactions)[i] }}.svg">
                                <span>{{ objectValues(message.reactions)[i] }}</span>
                            </button>
                            }
                            }
                            <img src="../../../assets/img/icons/add_reaction.svg" alt="Add reaction">
                        </div>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-input">
            <textarea type="text" placeholder="Antworten..."></textarea>
            <div class="action-buttons">
                <div class="button-wrapper">
                    <button mat-icon-button>
                        <img src="../../../assets/img/icons/add-gray.svg" alt="Add image">
                    </button>
                    <div class="vector"></div>
                    <button mat-icon-button>
                        <img src="../../../assets/img/icons/sentiment_satisfied.svg" alt="Add emoji">
                    </button>
                    <button mat-icon-button>
                        <img src="../../../assets/img/icons/alternate_email.svg" alt="Tag someone">
                    </button>
                </div>
                <button mat-icon-button>
                    <img src="../../../assets/img/icons/send-button.svg" alt="Send message">
                </button>
            </div>
        </div>
        <!-- TODO: add focus textarea on click -->
    </div>
</main>