<main>
    <section class="title">
        <div>
            <img src="../../assets/img/icons/tag-black.svg">
            <h1>Entwicklerteam</h1>
        </div>
        <button class="closeButton" (click)="closeDialog()" mat-icon-button>
            <img src="../../../assets/img/icons/close.svg">
        </button>
    </section>
    <section class="name-box">
        <div>
            <h6>Channel-Name</h6>
            <span>Bearbeiten</span>
        </div>
        <div>
            <img src="../../assets/img/icons/tag-black.svg">
            <p>Entwicklerteam</p>
        </div>
    </section>
    <section class="description-box">
        <div>
            <h6>Beschreibung</h6>
            <span>Bearbeiten</span>
        </div>
        <div>
            <p>Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du zusammen mit deinem Team Meetings
                abhalten, Dokumente teilen und Entscheidungen treffen.</p>
            <div></div>
            <h6>Erstellt von</h6>
        </div>
        <span>Noah Braun</span>
    </section>
    <button mat-flat-button class="leave">Channel verlassen</button>
</main>