:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

app-chat,
app-welcome-screen,
app-direct-message,
app-new-message {
    flex: 1;
    overflow: hidden;
    border-radius: 1.875rem;
}

mat-drawer-container {
    width: max-content;
    overflow: hidden;
    border-radius: 1.875rem;
}

main {
    display: flex;
    gap: 1.5rem;
    padding: 0 1.25rem 1.5625rem 1.25rem;
    height: calc(100% - 1.5625rem);
}

.menu-button {
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
    position: absolute;
    left: 0;
    bottom: 0%;
    z-index: 4;
    border: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border-radius: 0rem 0rem 1.875rem 1.875rem;
    background: var(--white);
    box-shadow: -4px 4px 7px 0px rgba(0, 0, 0, 0.20);
    padding: 0.875rem 1.4375rem;

    >span {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 120%;
    }

    >span::after {
        display: block;
        content: attr(name);
        font-weight: 700;
        visibility: hidden;
        overflow: hidden;
        height: 0px;
    }

    >img {
        transform: rotate(90deg);
        width: 1rem;
        height: 1rem;
        padding: 0.5rem;
    }

    &:hover {
        cursor: pointer;

        >img {
            content: url(../../assets/img/icons/sidenav-close-purple.svg);
        }

        >span {
            font-weight: 700;
            color: var(--purple-3);
        }
    }
}

.new-dm {
    position: fixed;
    right: 1rem;
    bottom: 2.25rem;
    padding: 1rem;
    width: 3.75rem;
    height: 3.75rem;
    transition: 100ms ease-out;
    border-radius: 50%;

    ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
        border-radius: 50%;
        background: var(--purple-1);
        overflow: hidden;
        transition: 100ms ease-out;
    }

    ::ng-deep::ng-deep .mat-mdc-button-ripple {
        border-radius: 50%;
        overflow: hidden;
    }

    ::ng-deep::ng-deep .mdc-button__label {
        color: var(--white);
        font-family: Nunito;
        font-size: 1.125rem;
        padding: 0;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: normal;

        >img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &:hover {

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
            background-color: var(--purple-2);

            &::before {
                opacity: 0;
            }
        }
    }
}

.closed:hover {
    >img {
        content: url(../../assets/img/icons/sidenav-open-purple.svg) !important;
    }
}

.mobile {
    display: none;
}



// Media Queries

@media (max-width: 431px) {
    :host {
        gap: 1.5625rem;
        background-color: var(--white);
        min-height: 100vh;
    }

    .mobile {
        display: unset;
    }

    main {
        display: none;
    }
}