<app-header></app-header>
<main>
    <mat-drawer-container class="menu-container">
        <mat-drawer #drawer opened="true" class="menu-sidenav" mode="side">
          <app-conversations></app-conversations>
        </mat-drawer>
    </mat-drawer-container>
    <button class="menu-button" type="button" [ngClass]="{'closed': !showMenu}" mat-button (click)="drawer.toggle(); showMenu = !showMenu">
      @if(showMenu) {
        <span name="Workspace-Menü schließen ">Workspace-Menü schließen </span><img src="../../assets/img/icons/sidenav-close.svg">
      } @else {
        <span name="Workspace-Menü öffen ">Workspace-Menü öffen </span><img src="../../assets/img/icons/sidenav-open.svg">
      }
      <!-- TODO: Border in closing animation is overflowing -->
    </button>
    <div class="router-container">
      <router-outlet name="chatOutlet"></router-outlet>
      <router-outlet name="threadOutlet"></router-outlet>
    </div>
    
    <!-- <app-chat></app-chat> -->
</main>
