:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 0 1.25rem 1.5625rem 1.25rem;
    height: 100%;

    app-chat {
         min-width: 50%;
         width: 100%;
    }
}

.menu-container {
    width: fit-content;
    overflow: unset;
    border-radius: 1.875rem;
}

.menu-sidenav {
    border-radius: 1.875rem;
}

.menu-button {
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
    position: absolute;
    left: 0;
    bottom: 0%;
    z-index: 4;
    border: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border-radius: 0rem 0rem 1.875rem 1.875rem;
    background: var(--white);
    box-shadow: -4px 4px 7px 0px rgba(0, 0, 0, 0.20);
    padding: 0.875rem 1.4375rem;

    >span {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 120%;
    }

    >span::after {
        display: block;
        content: attr(name);
        font-weight: 700;
        visibility: hidden;
        overflow: hidden;
        height: 0px;
    }

    >img {
        transform: rotate(90deg);
        width: 1rem;
        height: 1rem;
        padding: 0.5rem;
    }

    &:hover {
        cursor: pointer;

        >img {
            content: url(../../assets/img/icons/sidenav-close-purple.svg);
        }

        >span {
            font-weight: 700;
            color: var(--purple-3);
        }
    }
}

.closed:hover {
    >img {
        content: url(../../assets/img/icons/sidenav-open-purple.svg) !important;
    }
}