.chat-body {
    background-color: #fff;
    border-radius: 1.875rem;
    height: calc(100vh - 8.75rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    padding: 2rem 2.8125rem 1.25rem 2.8125rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
}

.blank-info {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 0.94rem;
        font-size: 1.25rem;
        margin-bottom: 1rem;

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
        }
    }

    button {
        background-color: white;
        border: none;
        color: #535AF1;
        transition: all 150ms ease-in-out;
        cursor: pointer;
        font-weight: 400;
        font-size: 1.25rem;

        &:hover {
            font-weight: 700;
        }
    }
}

.chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 5.9375rem);

    .message:first-child {
        margin-top: 1.5rem;
    }
}

.message {
    display: flex;
    padding: 0.625rem 2.5rem;
    align-items: flex-start;
    gap: 1.25rem;
    position: relative;

    &:hover {
        .hoverMenu {
            display: inline-flex;
        }
    }

    >img {
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 50%;
    }

    >div:not(.message-info, .hoverMenu) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.message-info {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    >h5 {
        font-size: 1.125rem;
    }

    >span {
        color: var(--text-gray);
        font-size: 0.875rem;
    }
}

.message-text {
    padding: 0.9375rem;
    align-self: stretch;
    border-radius: 0rem 1.25rem 1.25rem 1.25rem;
    background: var(--bg-color);
}

.reaction {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.reaction-wrapper {
    position: relative;

    >button {
        padding: 0.3125rem 0.625rem;
        border-radius: 1.25rem;
        border: 1px solid var(--light-purple-line);
        background: var(--white);
        box-shadow: unset;

        ::ng-deep::ng-deep .mdc-button__label {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            >img {
                width: 1.5rem;
                height: 1.5rem;
            }

            >span {
                font-size: 1rem;
            }
        }
    }

    >img {
        padding: 0.3125rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover>div {
        display: flex;
    }
}

.reaction-tooltip {
    display: none;
    position: absolute;
    width: 8rem;
    padding: 1rem;
    left: 2.25rem;
    bottom: 2.25rem;
    background-color: #444DF2;
    border-radius: 1.875rem 1.875rem 1.875rem 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;

    >span {
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }

    >p {
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }

    >img {
        width: 1.875rem;
        height: 1.875rem;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 10.2725rem);
    // padding: 1.5rem 1rem 0.75rem 0;
}

.chat-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--bg-color);
    border-radius: 2rem;
    padding: 1.25rem;

    textarea {
        border: none;
        font-size: 1.125rem;
        color: var(--text-gray);
        resize: none;
        flex: 1;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 1.125rem;
        }
    }
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    >button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;

        >img {
            width: 2.5rem;
            height: 2.5rem;
        }

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
        ::ng-deep::ng-deep .mat-mdc-button-touch-target,
        ::ng-deep::ng-deep .mat-mdc-focus-indicator,
        ::ng-deep::ng-deep .mat-ripple {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.button-wrapper {
    display: flex;
    gap: 0.3125rem;
    position: relative;

    .vector {
        width: 0rem;
        height: calc(2.5rem - 2px);
        border: 1px solid var(--light-purple-line);
    }

    >button {
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
        ::ng-deep::ng-deep .mat-mdc-button-touch-target,
        ::ng-deep::ng-deep .mat-mdc-focus-indicator,
        ::ng-deep::ng-deep .mat-ripple {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.input-container {
    padding: 0.5rem 1rem 1rem 1rem;
}


.hoverMenu {
    top: -1.125rem;
    right: 10%;
    position: absolute;
    display: none;
    padding: 0.1875rem 0.9375rem 0.1875rem 1.25rem;
    align-items: flex-start;
    gap: 0.3125rem;
    border-radius: 1.5625rem 1.5625rem 0rem 1.5625rem;
    border: 1px solid var(--light-purple-line);
    background: var(--white);

    >button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        display: inline-flex;
    }
}

::ng-deep::ng-deep .moreMenu {
    display: inline-flex;
    padding: 0.625rem 1.25rem;
    width: unset;
    min-width: unset !important;
    max-width: unset !important;
    height: unset;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.9375rem;
    border-radius: 0rem 1.875rem 1.875rem 1.875rem !important;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.20) !important;

    >div {
        padding: 0;

        >button {
            display: flex;
            padding: 0.625rem 1.25rem;
            justify-content: center;
            align-items: center;
            gap: 0.9375rem;
            border-radius: 6.25rem;

            >span {
                font-family: Nunito !important;
                font-size: 1.25rem !important;
                font-weight: 500 !important;
            }
        }
    }
}

.emoji-picker {
    position: absolute;
    z-index: 5;
    left: 6rem;
    bottom: 1rem;
}

.contact-list {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1.5rem;

    ::ng-deep::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.9375rem;
        padding: 0;
        flex: 1;

        >div {
            height: 3.125rem;
            position: relative;

            >img:first-child {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 50%;
            }

            >img:last-child {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0.875rem;
                height: 0.875rem;
            }
        }

        >span {
            color: var(--black);
            font-family: Nunito;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    ::ng-deep::ng-deep .mat-button-toggle-checked {
        background-color: white !important;

        ::ng-deep::ng-deep .mat-button-toggle-label-content>span {
            color: var(--purple-3);
            font-weight: 700;
            width: min-content;
        }
    }
}

.contact {
    display: flex;
    border-radius: 2.1875rem;
    border: 0 !important;
    overflow: hidden;
    line-height: normal;
    transition: 80ms ease-in;
    padding: 0.5rem;

    &:hover {
        background-color: var(--bg-color);
    }

    ::ng-deep::ng-deep .mat-button-toggle-focus-overlay {
        background: none !important;
    }
}

mat-form-field {
    width: 100%;

    ::ng-deep::ng-deep .mat-mdc-text-field-wrapper {
        width: 100%;
        padding: 0;
        background-color: unset;
        border-radius: 1.875rem;
        border: 1px solid var(--light-purple-line);

        &:hover:not(.mdc-text-field--focused) {
            border-color: var(--purple-2);
            cursor: text;
            transition: 80ms ease-in;
        }
    }

    ::ng-deep::ng-deep .mat-mdc-form-field-infix {
        width: 100%;
        padding: 0.9375rem 1.25rem;
    }

    input {
        color: var(--black) !important;
        font-family: Nunito !important;
        font-size: 1.125rem !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
        flex: unset;

        &::placeholder {
            color: var(--text-gray) !important;
            font-family: Nunito !important;
            font-size: 1.125rem !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: normal !important;
        }
    }

    ::ng-deep::ng-deep .mdc-text-field--focused {
        border-color: var(--purple-1);
        transition: 80ms ease-in;
    }

    ::ng-deep::ng-deep .mdc-line-ripple::before,
    ::ng-deep::ng-deep .mdc-line-ripple::after {
        border: unset;
    }

    &:hover {
        &::before {
            opacity: 0;
        }
    }

    ::ng-deep::ng-deep .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
        opacity: 0 !important;
    }

    ::ng-deep::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

::ng-deep::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    display: flex !important;
    padding: 1.25rem 1.3125rem !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: unset !important;
    gap: 0.9375rem;
    border-radius: 0rem 1.875rem 1.875rem 1.875rem !important;
}

::ng-deep::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    transition: 80ms ease-in;
    background-color: var(--bg-color) !important;
}

mat-option {
    padding: 0.25rem 1.25rem;
    min-height: 3.125rem;
    border-radius: 2.1875rem;

    ::ng-deep::ng-deep .mdc-list-item__primary-text {
        display: flex;
        gap: 0.9375rem;
        align-items: center;
    }

    h3 {
        max-width: 9.75rem;
        height: fit-content;
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 400;
    }

    img {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
    }

    ::ng-deep::ng-deep .mat-ripple {
        min-height: calc(3.125rem + 0.25rem + 0.25rem);
    }
}

::ng-deep::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
}

// Media Queries 

@media (max-width: 768px) {
    .chat-body {
        margin-top: 3.4375rem;
        height: calc(100vh - 5rem);
    }

    .chat-header {
        border-radius: 0;
        padding: 1.25rem 1rem 0.4375rem 1rem;

        >h1 {
            font-size: 1.25rem;
        }
    }

    ::ng-deep::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
        width: 100%;
    }

    mat-form-field {
        ::ng-deep::ng-deep .mat-mdc-form-field-infix {
            padding: 0.8125rem 1.25rem;
            min-height: unset;
        }
    }

    mat-option {
        h3 {
            max-width: unset;
        }
    }

    .chat-content {
        height: calc(100% - 7.599375rem);
    }

    .message {
        padding: 0.625rem 1rem;
        gap: 1rem;

        >img {
            width: 3.125rem;
            height: 3.125rem;
        }
    }
}