<section class="chat-body">
    <div class="chat-header">
        <button mat-button (click)="openDialogChannelInfo()">
            <img src="../../../assets/img/icons/chat-tag.svg">
            <h1>Entwicklerteam</h1>
            <img src="../../../assets/img/icons/keyboard_arrow_down.svg">
        </button>
        <div class="participants-wrapper">
            <button mat-icon-button (click)="openDialog($event)">
                <div>
                    <img src="../../../assets/img/avatar/2.svg">
                    <img src="../../../assets/img/avatar/2.svg">
                    <img src="../../../assets/img/avatar/2.svg">
                </div>
                <h1>3</h1>
            </button>
            <button mat-icon-button (click)="openDialogAddMembers()">
                <img src="../../../assets/img/icons/person-add.svg">
            </button>
        </div>
    </div>
    <div class="chat-content">
        <div class="chat" #chatContainer>
            <!-- TODO: Add answers to thread amount -->
            <div class="message" *ngFor="let message of chatService.currentChannel.messages | keyvalue">
                <div class="hoverMenu">
                    <button mat-icon-button>
                        <img src="../../../assets/img/icons/emoji-check.svg" alt="React">
                    </button>
                    <button mat-icon-button>
                        <img src="../../../assets/img/icons/emoji-hands-up.svg" alt="React">
                    </button>
                    <button (click)="toggleThread();" mat-icon-button>
                        <img src="../../../assets/img/icons/comment.svg" alt="Comment">
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <img src="../../../assets/img/icons/3-dots.svg" alt="More">
                    </button>
                    <mat-menu class="moreMenu" #menu="matMenu">
                        <button mat-menu-item (click)="openDialogEditMessage(chatService.currentChannelID)">
                            Nachricht bearbeiten
                        </button>
                    </mat-menu>
                </div>


                <!-- TODO: only allowed to edit my own messages -->
                @if (message.value.avatar.length > 1) {
                    <img src="{{ message.value.avatar }}">
                } @else {
                    <img src="../../../assets/img/avatar/{{ message.value.avatar }}.svg">
                }
                <div>
                    <div class="message-info">
                        <h5>{{ message.value.name }}</h5>
                        <span>{{ message.value.time }}</span>
                    </div>
                    <div class="message-text">
                        {{ message.value.message }}
                    </div>
                    <div>
                        <div class="reaction">
                            @if(message.value.reactions) {
                            @for(reaction of message.value.reactions | keyvalue; track reaction; let i = $index) {
                            <div class="reaction-wrapper">
                                <div class="reaction-tooltip">
                                    <img src="../../../assets/img/icons/emoji-{{ reaction.key }}.svg">
                                    <span>Name, Name</span>
                                    <p>hat reagiert</p>
                                </div>
                                <button mat-raised-button>
                                    <img src="../../../assets/img/icons/emoji-{{ reaction.key }}.svg">
                                    <span>{{ reaction.value }}</span>
                                </button>
                            </div>
                            }
                            }
                            <img src="../../../assets/img/icons/add_reaction.svg" alt="Add reaction">
                        </div>
                    </div>
                </div>
            </div>

            <!-- TODO: add focus textarea on click -->
        </div>
        <div class="input-container">
            <div class="chat-input">
                <textarea type="text" [(ngModel)]="messageText" placeholder="Nachricht an #Entwicklerteam"></textarea>
                <div class="action-buttons">
                    <div class="button-wrapper">
                        <button mat-icon-button>
                            <img src="../../../assets/img/icons/add-gray.svg" alt="Add image">
                        </button>
                        <div class="vector"></div>
                        <button mat-icon-button (click)="togglePicker()">
                            <img src="../../../assets/img/icons/sentiment_satisfied.svg" alt="Add emoji">
                        </button>
    
                        <div class="emoji-picker" *ngIf="isPickerVisible">
                            <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                        </div>
                        <button mat-icon-button>
                            <img src="../../../assets/img/icons/alternate_email.svg" alt="Tag someone">
                        </button>
                    </div>
                    <button (click)="send()" mat-icon-button>
                        <img src="../../../assets/img/icons/send-button.svg" alt="Send message">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>