.chat-body {
    background-color: #fff;
    border-radius: 1.875rem;
    height: calc(100vh - 8.75rem);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem 2.8125rem;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 2rem 2rem 0 0;
    z-index: 1;

    >button {
        padding: 0.375rem 0.625rem;
        height: 2.8125rem;
        border-radius: 6.25rem;

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
        ::ng-deep::ng-deep .mat-mdc-button-touch-target,
        ::ng-deep::ng-deep .mat-mdc-focus-indicator,
        ::ng-deep::ng-deep .mat-ripple {
            height: 2.8125rem;
            width: 100%;
            border-radius: 6.25rem;
        }

        &:hover {
            background-color: var(--bg-color);

            ::ng-deep::ng-deep .mdc-button__label {

                >img:first-child {
                    content: url(../../../assets/img/icons/chat-tag-purple.svg)
                }

                >h1 {
                    color: var(--purple-3);
                }

                >img:last-child {
                    content: url(../../../assets/img/icons/keyboard_arrow_down-purple.svg);
                }
            }
        }

        ::ng-deep::ng-deep .mdc-button__label {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            >img:first-child {
                height: 1.4375rem;
                width: 1.375rem;
                padding: 0.3125rem;
            }

            >h1 {
                color: var(--black);
                font-family: Nunito;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                white-space: nowrap;
            }

            >img:last-child {
                padding: 0.6875rem 0.5rem;
            }
        }
    }
}

.participants-wrapper {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    >button:first-child {
        display: flex;
        gap: 0.625rem;
        align-items: center;
        padding: 0.1875rem 0.625rem 0.1875rem 1.25rem;
        width: unset;
        height: 2.5rem;
        border-radius: 1.875rem;

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
        ::ng-deep::ng-deep .mat-mdc-button-touch-target,
        ::ng-deep::ng-deep .mat-mdc-focus-indicator,
        ::ng-deep::ng-deep .mat-ripple {
            width: 100%;
            border-radius: 1.875rem;
            height: 2.5rem;
        }

        &:hover {
            background-color: var(--bg-color) !important;

            >h1 {
                font-weight: 700;
                color: var(--purple-3)
            }
        }

        >div {
            display: flex;
        }

        >h1 {
            color: var(--black);
            font-family: Nunito;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    >button:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;


        ::ng-deep::ng-deep .mat-mdc-button-touch-target {
            width: 2.5rem;
            height: 2.5rem;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0;
            border-radius: 0;
            border: 0;
            background: none;
        }

        &:hover {
            background-color: var(--bg-color);

            >img {
                content: url(../../../assets/img/icons/person-add-purple.svg);
            }
        }
    }

    img {
        border-radius: 100%;
        height: calc(2.5rem - 4px);
        width: calc(2.5rem - 4px);
        border: 2px solid white;
        background-color: var(--bg-color);
        margin-left: -0.625rem;
    }
}

.chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 5.9375rem);

    .message:first-child {
        margin-top: 1.5rem;
    }
}

.message {
    display: flex;
    padding: 0.625rem 2.5rem;
    align-items: flex-start;
    gap: 1.25rem;
    position: relative;

    &:hover {
        .hoverMenu {
            display: inline-flex;
        }
    }

    >img {
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 50%;
    }

    >div:not(.message-info, .hoverMenu) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }
}

.message-info {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    >h5 {
        font-size: 1.125rem;
    }

    >span {
        color: var(--text-gray);
        font-size: 0.875rem;
    }
}

.message-text {
    padding: 0.9375rem;
    align-self: stretch;
    border-radius: 0rem 1.25rem 1.25rem 1.25rem;
    background: var(--bg-color);
}

.reaction {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.reaction-wrapper {
    position: relative;

    >button {
        padding: 0.3125rem 0.625rem;
        border-radius: 1.25rem;
        border: 1px solid var(--light-purple-line);
        background: var(--white);
        box-shadow: unset;

        ::ng-deep::ng-deep .mdc-button__label {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            >img {
                width: 1.5rem;
                height: 1.5rem;
            }

            >span {
                font-size: 1rem;
            }
        }
    }

    >img {
        padding: 0.3125rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover>div {
        display: flex;
    }
}

.reaction-tooltip {
    display: none;
    position: absolute;
    width: 8rem;
    padding: 1rem;
    left: 2.25rem;
    bottom: 2.25rem;
    background-color: #444DF2;
    border-radius: 1.875rem 1.875rem 1.875rem 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;

    >span {
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }

    >p {
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }

    >img {
        width: 1.875rem;
        height: 1.875rem;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 10.2725rem);
    // padding: 1.5rem 1rem 0.75rem 0;
}

.chat-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--bg-color);
    border-radius: 2rem;
    padding: 1.25rem;

    textarea {
        border: none;
        font-size: 1.125rem;
        color: var(--text-gray);
        resize: none;
        flex: 1;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 1.125rem;
        }
    }
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    >button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;

        >img {
            width: 2.5rem;
            height: 2.5rem;
        }

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
        ::ng-deep::ng-deep .mat-mdc-button-touch-target,
        ::ng-deep::ng-deep .mat-mdc-focus-indicator,
        ::ng-deep::ng-deep .mat-ripple {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.button-wrapper {
    display: flex;
    gap: 0.3125rem;
    position: relative;

    .vector {
        width: 0rem;
        height: calc(2.5rem - 2px);
        border: 1px solid var(--light-purple-line);
    }

    >button {
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
        ::ng-deep::ng-deep .mat-mdc-button-touch-target,
        ::ng-deep::ng-deep .mat-mdc-focus-indicator,
        ::ng-deep::ng-deep .mat-ripple {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.input-container {
    padding: 0.5rem 1rem 1rem 1rem;
}


.hoverMenu {
    top: -1.125rem;
    right: 10%;
    position: absolute;
    display: none;
    padding: 0.1875rem 0.9375rem 0.1875rem 1.25rem;
    align-items: flex-start;
    gap: 0.3125rem;
    border-radius: 1.5625rem 1.5625rem 0rem 1.5625rem;
    border: 1px solid var(--light-purple-line);
    background: var(--white);

    >button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        display: inline-flex;
    }
}

::ng-deep::ng-deep .moreMenu {
    display: inline-flex;
    padding: 0.625rem 1.25rem;
    width: unset;
    min-width: unset !important;
    max-width: unset !important;
    height: unset;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.9375rem;
    border-radius: 0rem 1.875rem 1.875rem 1.875rem !important;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.20) !important;

    >div {
        padding: 0;

        >button {
            display: flex;
            padding: 0.625rem 1.25rem;
            justify-content: center;
            align-items: center;
            gap: 0.9375rem;
            border-radius: 6.25rem;

            >span {
                font-family: Nunito !important;
                font-size: 1.25rem !important;
                font-weight: 500 !important;
            }
        }
    }
}

.emoji-picker {
    position: absolute;
    z-index: 5;
    left: 6rem;
    bottom: 1rem;
}

.blank-chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2.25rem 1rem 2.25rem;
}

.blank-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4375rem;

    >div {
        display: flex;
        padding: 0.375rem 0rem;
        align-items: center;
        gap: 0.625rem;

        >img {
            width: 1.375rem;
            height: 1.4375rem;
            padding: 0.3125rem;
        }
    }

    span {
        font-size: 1.25rem;
    }

    button {
        background-color: unset;
        border: unset;
        color: var(--purple-3);
        font-size: 1.25rem;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }
}

// Media Queries

@media (max-width: 431px) {

    .chat-body {
        margin-top: 3.4375rem;
        height: calc(100vh - 5rem);
    }

    .chat-header {
        border-radius: 0;
        padding: 0.625rem 1rem;
        height: 2.5rem;

        >button {
            padding: 0.125rem 0rem;
            height: 2.13671875rem;

            ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
            ::ng-deep::ng-deep .mat-mdc-button-touch-target,
            ::ng-deep::ng-deep .mat-mdc-focus-indicator,
            ::ng-deep::ng-deep .mat-ripple {
                height: 2.13671875rem;
            }

            ::ng-deep::ng-deep .mdc-button__label {
                gap: 0.3125rem;

                >img:first-child {
                    width: 1rem;
                    height: 1.0625rem;
                    padding: 0.3125rem 0.5rem;
                }

                >h1 {
                    font-size: 1.25rem;
                }
            }
        }
    }

    .participants-wrapper {
        >button:first-child {
            display: none;
        }

        button:last-child {
            width: 2.125rem;
            height: 2.125rem;
            padding: 0.5rem;
            background-color: var(--bg-color);

            ::ng-deep::ng-deep .mat-mdc-button-touch-target {
                width: 2.125rem;
                height: 2.125rem;
            }

            img {
                width: 1.125rem;
                height: 1.125rem;
            }
        }
    }

    .chat-content {
        height: calc(100% - 3.386875rem);
    }

    .message {
        padding: 0.625rem 1rem;
        gap: 1rem;

        >img {
            width: 3.125rem;
            height: 3.125rem;
        }
    }

    .blank-chat {
        padding: 0 1rem 2.3125rem 1rem;
    }
}