app-start {
    ::ng-deep::ng-deep .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(43.625rem - 5.8125rem - 5.8125rem);
        height: calc(29.3125rem - 2.5rem - 2.5rem);
        padding: 2.5rem 5.8125rem;
        gap: 2.5rem;
    }
}

.goBack {
    position: absolute;
    top: 2.8125rem;
    left: 2rem;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;

    >img {
        width: 1.5rem;
        height: 1.5rem;

    }
}

h1 {
    color: var(--purple-1);
    font-size: 2.875rem;
    line-height: 120%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.0625rem;

    >p {
        font-size: 1.25rem;
        line-height: 120%;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.8125rem;
    gap: 2.5rem;
    width: calc(100% - 0.8125rem - 0.8125rem );

    >p {
        color: var(--text-gray);
        text-align: center;
        font-family: Nunito;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 1.5rem */
    }

    >div {
        position: relative;
        width: 100%;

        >input {

            border: 0;
            width: calc(100% - 2rem - 5.375rem);
            padding: 1.125rem 2rem 1.125rem 5.375rem;
            border-radius: 6.25rem;
            background: var(--bg-color);
            color: var(--text-gray);
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 120%;
            /* 21.6px */

            &::placeholder {
                color: var(--text-gray);
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 120%;
            }

            &:hover {
                outline: 1px solid var(--light-purple-line);
            }

            &:focus {
                outline: 1px solid var(--purple-3);

                &+img {
                    filter: brightness(0%);
                }
            }
        }

        >img {
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 2rem;
            margin: auto 0;
        }
    }
}

.submit {
    align-self: flex-end;
    width: min-content;
    padding: 0 1.5625rem;
    height: 3.0625rem;
    transition: 100ms ease-out;

    ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
        border-radius: 1.5625rem;
        background: var(--purple-1);
        overflow: hidden;
        transition: 100ms ease-out;
    }

    ::ng-deep::ng-deep .mat-mdc-button-ripple {
        border-radius: 1.5625rem;
        overflow: hidden;
    }

    ::ng-deep::ng-deep .mdc-button__label {
        color: var(--white);
        font-family: Nunito;
        font-size: 1.125rem;
        padding: 0;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        white-space: nowrap;
    }

    &:hover {

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
            background-color: var(--purple-2);

            &::before {
                opacity: 0;
            }
        }
    }
}