<section>
    <div class="profile-section">
        <span>Profil</span>
        <button
            class="closeButton"
            (click)="closeDialog()"
            mat-icon-button
        >
            <img src="assets/img/icons/close.svg" />
        </button>
    </div>
    <div class="image-section">
        @if (data.avatar.length > 1) {
            <img src="{{ data.avatar }}" />
        } @else {
            <img src="assets/img/avatar/{{ data.avatar }}.svg" />
        }
    </div>
    <div class="profile-active-section">
        <h1>{{ data.name }}</h1>
        <div class="status">
            @if (data.online) {
                <img src="assets/img/icons/online-1.svg" />
                <span style="color: var(--online-green)">Aktiv</span>
            } @else {
                <img src="assets/img/icons/offline-1.svg" />
                <span style="color: var(--text-gray)">Abwesend</span>
            }
        </div>
    </div>
    <div class="profile-mail-section">
        <div class="profile-mail">
            <img
                src="assets/img/icons/mail-black.svg"
                alt=""
            />
            <span>E-Mail Adresse</span>
        </div>
        <div>
            <a href="mailto:{{ data.email }}">{{ data.email }}</a>
        </div>
    </div>
    <button
        mat-flat-button
        class="submit"
        (click)="openDM(data)"
    >
        <img src="assets/img/icons/mode_comment.svg" />
        Nachricht
    </button>
</section>
