<main>
    <section class="title">
        <div>
            <img src="assets/img/icons/tag-black.svg" />
            <h1>{{ chatService.currentChannel.name }}</h1>
        </div>
        <button
            class="closeButton"
            (click)="closeDialog()"
            mat-icon-button
        >
            <img src="assets/img/icons/close.svg" />
        </button>
    </section>
    @if (!editingName) {
        <section class="name-box">
            <div>
                <h6>Channel-Name</h6>
                <span (click)="editName()">Bearbeiten</span>
            </div>
            <div>
                <img src="assets/img/icons/tag-black.svg" />
                <p>{{ chatService.currentChannel.name }}</p>
            </div>
        </section>
    } @else {
        <section class="name-box edit-name">
            <div>
                <h6>Channel-Name</h6>
                <span
                    (click)="saveName()"
                    class="save"
                    >Speichern</span
                >
            </div>
            <div class="inputDiv">
                <input
                    [(ngModel)]="name"
                    value="{{ this.name }}"
                    placeholder="z.B. Kooperationsprojekte"
                />
                <img src="assets/img/icons/tag-black.svg" />
                @if (invalidName) {
                    <span class="error">Bitte keine Leerzeichen.</span>
                }
            </div>
        </section>
    }

    @if (!editingDescription) {
        <section class="description-box">
            <div>
                <h6>Beschreibung</h6>
                <span (click)="editDescription()">Bearbeiten</span>
            </div>
            <div>
                <p>{{ chatService.currentChannel.description }}</p>
                <div></div>
                <h6>Erstellt von</h6>
            </div>
            <span>{{ chatService.currentChannel.creator }}</span>
        </section>
    } @else {
        <section class="description-box">
            <div>
                <h6>Beschreibung</h6>
                <span
                    (click)="saveDescription()"
                    class="save"
                    >Speichern</span
                >
            </div>
            <div class="inputDiv noIcon">
                <input
                    [(ngModel)]="description"
                    value="{{ this.description }}"
                    placeholder="Dein Text hier"
                />
                <div></div>
                <h6>Erstellt von</h6>
            </div>
            <span>{{ chatService.currentChannel.creator }}</span>
        </section>
    }

    <app-dialog-show-channel-member
        class="members-box"
    ></app-dialog-show-channel-member>

    <button
        (click)="leaveChannel()"
        mat-flat-button
        class="leave"
    >
        Channel verlassen
    </button>
</main>
