.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    padding: 1.5625rem 2.125rem 1.25rem 2.8125rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    >img:first-child {
        width: 4.375rem;
        height: 4.375rem;
    }

    >img:last-child {
        width: 9.75663rem;
        height: 1.5rem;
    }
}

.searchbar-wrapper {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        height: 75%;
        border-radius: 2.625rem;
        border: none;
        padding: 1.09375rem 2.8125rem;
        color: var(--text-gray);
        font-size: 1.5rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--text-gray);
            font-size: 1.5rem;
        }
    }

    span {
        position: absolute;
        right: 1.5rem;
    }
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    .avatar-wrapper {
        position: relative;
        width: 4.375rem;
        height: 4.375rem;

        .online-status {
            position: absolute;
            bottom: 0;
            right: 0;

            img {
                width: 1rem;
                height: 1rem;
            }
        }

        img {
            width: 4.375rem;
            height: 4.375rem;
            border-radius: 100%;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        .material-icons {
            width: 1.875rem !important;
            height: 1.875rem !important;
            align-self: baseline;
        }
    }
}

h1 {
    font-size: 2rem;
}

.custom-dialog-class{
    border-radius: 1.875rem 0rem 1.875rem 1.875rem;
}