<section class="header-content">
    <div class="logo">
        <img src="../../../assets/img/logo/icon.svg">
        <img src="../../../assets/img/logo/name.svg">
    </div>
    <div class="searchbar-wrapper">
        <input placeholder="Code learning durchsuchen">
        <span class="material-icons">search</span>
    </div>
    <div class="profile-info">
        <h1>Leonhard Albert</h1>
        <div class="avatar-wrapper">
            <span class="online-status">
                <img src="../../../assets/img/icons/is-online.svg">
            </span>
            <img src="../../../assets/img/avatar/1.svg">
        </div>
        <button mat-icon-button>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </button>
    </div>
</section>