<app-start>
    <button
        class="goBack"
        mat-icon-button
        (click)="this.location.back()"
    >
        <img
            src="assets/img/icons/arrow_back.svg"
            alt="Go back"
        />
    </button>
    <div>
        <h1>Impressum</h1>
        <p>
            Leonhard Albert, Kaser Mahmood, Murat Yaglioglu, Ghulammustafa
            Kakar<br />
            Mustermann Stra&szlig;e 8<br />
            98765 Maxhausen
        </p>
    </div>
    <div>
        <h2>Kontakt:</h2>
        <p>E-Mail: contact&#64;gmail.com</p>
    </div>
</app-start>
