:host {
    width: 50vw;
    display: block;
}

.chat-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    border: 2px solid var(--bg-color);
    border-radius: 2rem;
    border-top-right-radius: 0;
    border: none;
    padding: 1.25rem;
    min-height: 7rem;

    textarea {
        border: none;
        font-size: 1.125rem;
        color: var(--text-gray);
        resize: none;
        flex: 1;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 1.125rem;
        }
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
        width: 100%;

        >button {
            display: flex;
            align-items: center;
            justify-content: center;

            >img {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .button-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 0.3125rem;
            position: relative;

            .save-cancel {
                display: flex;

                Mat-dialog-actions {
                    display: flex;
                    justify-content: flex-end;

                    &:first-child {

                        button {
                            background-color: #fff;
                            border: solid 1px var(--Purple-1, #444df2);
                            color: var(--Purple-1, #444df2);
                        }
                    }
                
                    >button {
                        font-size: 1rem;
                        font-weight: 400;
                        border-radius: 1.5625rem;
                        background: var(--Purple-1, #444df2);
                    }
                }
            }

        }

        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}


.hoverMenu {
    top: -1.125rem;
    right: 10%;
    position: absolute;
    display: none;
    padding: 0.1875rem 0.9375rem 0.1875rem 1.25rem;
    align-items: flex-start;
    gap: 0.3125rem;
    border-radius: 1.5625rem 1.5625rem 0rem 1.5625rem;
    border: 1px solid var(--light-purple-line);
    background: var(--white);

    >button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        display: inline-flex;
    }
}

::ng-deep::ng-deep .moreMenu {
    display: inline-flex;
    padding: 0.625rem 1.25rem;
    width: unset;
    min-width: unset !important;
    max-width: unset !important;
    height: unset;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.9375rem;
    border-radius: 0rem 1.875rem 1.875rem 1.875rem !important;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.20) !important;

    >div {
        padding: 0;

        >button {
            display: flex;
            padding: 0.625rem 1.25rem;
            justify-content: center;
            align-items: center;
            gap: 0.9375rem;
            border-radius: 6.25rem;

            >span {
                font-family: Nunito !important;
                font-size: 1.25rem !important;
                font-weight: 500 !important;
            }
        }
    }
}

.emoji-picker{
    position: absolute;
    z-index: 5;
    left: 6rem;
    bottom: 1rem;
}