section {
    display: inline-flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;

    .dialog-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            &:hover {
                cursor: pointer;
                color: #535AF1;
                background-color: #ECEEFE;
            }
        }
    }

    .dialog-content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        width: 100%;
        padding: 1.25rem;
        border-radius: 1.25rem;

        .channel-member {
            display: flex;
            align-items: center;
            gap: 1.25rem;

            img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 100%;
            }
        }

        .dialog-add-member {
            display: flex;
            align-items: center;
            gap: 1.25rem;

            .material-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 100%;

                &:hover {
                    color: #535AF1;
                    background-color: #ECEEFE;
                }
            }

        }
    }
}

::ng-deep::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 1.875rem 0rem 1.875rem 1.875rem;
}