.dialog-container {
    padding: 2.5rem;
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 25vw;
}

::ng-deep::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 1.875rem;
}

.dialog-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.dialog-content-container {
    cursor: pointer;

    >mat-radio-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: black;
        font-size: 1rem;
        font-weight: 800;

        >span {
            color: gray;
            font-weight: 500;
        }
    }
}

mat-radio-button {

    ::ng-deep::ng-deep .mdc-label {
        color: var(--Black, #000);
        font-size: 1.125rem;
        line-height: normal;
        letter-spacing: normal;
    }

    &:hover:not(.mat-mdc-radio-checked) {
        ::ng-deep::ng-deep .mdc-radio__outer-circle {
            border-color: var(--purple-1) !important;
        }
    }

    ::ng-deep::ng-deep .mdc-radio__outer-circle {
        border: 1px solid var(--light-purple-line) !important;
    }

    ::ng-deep::ng-deep .mdc-radio__inner-circle {
        border-color: var(--purple-1) !important;
        background-color: var(--purple-1) !important;
    }

    ::ng-deep::ng-deep .mdc-radio__background {
        &::before {
            background-color: unset !important;
        }
    }

    ::ng-deep::ng-deep .mat-ripple-element {
        background-color: unset !important;
    }
}

mat-chip-grid {
    width: 100%;

    ::ng-deep::ng-deep .mdc-evolution-chip-set__chips {
        display: flex;
        flex-direction: column;
        gap: 0.46875rem;
        margin: 0;
    }

    mat-chip-row:last-child {
        margin-bottom: 0.46875rem !important;
    }
}

mat-chip-row {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    padding: 0.1875rem 1.25rem;
    height: unset !important;
    background-color: var(--bg-color) !important;
    border-radius: 2.1875rem !important;
    margin: 0 !important;
    width: max-content;

    ::ng-deep::ng-deep .mdc-evolution-chip__text-label {
        display: flex;
        gap: 0.9375rem;
        align-items: center;

        >img {
            width: 2.125rem;
            height: 2.125rem;
            border-radius: 50%;
        }

        >h6 {
            color: var(--black);
            font-size: 1.125rem;
            font-weight: 400;
            line-height: normal;
            // max-width: calc(25vw - 2.5rem - 2.5rem - 1.25rem - 1.25rem);
            overflow-wrap: break-word;
            white-space: break-spaces;
            text-align: start;
            max-width: 11vw;
            letter-spacing: normal;
        }
    }

    ::ng-deep::ng-deep .mdc-evolution-chip__cell--trailing {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.875rem;
    }

    ::ng-deep::ng-deep .mat-mdc-chip-focus-overlay {
        opacity: 0 !important;
    }

    ::ng-deep::ng-deep .mdc-evolution-chip__action {
        display: flex;
        justify-content: flex-start;
        padding: 0 !important;
    }

}

mat-form-field {

    ::ng-deep::ng-deep .mat-mdc-text-field-wrapper {
        width: 100%;
        padding: 0;
        background-color: unset;
        border-radius: 1.875rem;
        border: 1px solid var(--light-purple-line);

        &:hover:not(.mdc-text-field--focused) {
            border-color: var(--purple-2);
            cursor: text;
            transition: 80ms ease-in;
        }
    }

    ::ng-deep::ng-deep .mat-mdc-form-field-infix {
        width: 100%;
        padding: 0.9375rem 1.25rem;
    }

    input {
        color: var(--black) !important;
        font-family: Nunito !important;
        font-size: 1.125rem !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
        flex: unset;

        &::placeholder {
            color: var(--text-gray) !important;
            font-family: Nunito !important;
            font-size: 1.125rem !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: normal !important;
        }
    }

    ::ng-deep::ng-deep .mdc-text-field--focused {
        border-color: var(--purple-1);
        transition: 80ms ease-in;
    }

    ::ng-deep::ng-deep .mdc-line-ripple::before,
    ::ng-deep::ng-deep .mdc-line-ripple::after {
        border: unset;
    }

    &:hover {
        &::before {
            opacity: 0;
        }
    }

    ::ng-deep::ng-deep .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
        opacity: 0 !important;
    }

    ::ng-deep::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

::ng-deep::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    display: flex !important;
    padding: 1.25rem 1.3125rem !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: unset !important;
    gap: 0.9375rem;
    border-radius: 0rem 1.875rem 1.875rem 1.875rem !important;
}

::ng-deep::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    transition: 80ms ease-in;
    background-color: var(--bg-color) !important;
}

mat-option {
    padding: 0.25rem 1.25rem;
    min-height: 3.125rem;
    border-radius: 2.1875rem;

    ::ng-deep::ng-deep .mdc-list-item__primary-text {
        display: flex;
        gap: 0.9375rem;
        align-items: center;
    }

    h3 {
        max-width: 9.75rem;
        height: fit-content;
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 400;
    }

    img {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
    }

    ::ng-deep::ng-deep .mat-ripple {
        min-height: calc(3.125rem + 0.25rem + 0.25rem);
    }
}

::ng-deep::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
}

.submit {
    align-self: flex-end;
    width: min-content;
    padding: 0 1.5625rem;
    height: 3.0625rem;
    transition: 100ms ease-out;

    ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
        border-radius: 1.5625rem;
        background: var(--purple-1);
        overflow: hidden;
        transition: 100ms ease-out;
    }

    ::ng-deep::ng-deep .mat-mdc-button-ripple {
        border-radius: 1.5625rem;
        overflow: hidden;
    }

    ::ng-deep::ng-deep .mdc-button__label {
        color: var(--white);
        font-family: Nunito;
        font-size: 1.125rem;
        padding: 0;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: normal;
    }

    &:hover {

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
            background-color: var(--purple-2);

            &::before {
                opacity: 0;
            }
        }
    }
}

button.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem !important;
    height: 1.875rem !important;
    opacity: unset !important;


    ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple,
    ::ng-deep::ng-deep .mat-mdc-button-touch-target,
    ::ng-deep::ng-deep .mat-mdc-focus-indicator,
    ::ng-deep::ng-deep .mat-ripple {
        width: 1.875rem !important;
        height: 1.875rem !important;
    }

    ::ng-deep::ng-deep .mat-mdc-chip-remove:focus {
        opacity: unset !important;
    }

    img {
        filter: unset !important;
    }
}

Mat-dialog-actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    >button {
        font-size: 1rem;
        font-weight: 400;
        border-radius: 1.5625rem;
        background: var(--Purple-1, #444df2);
    }
}