main {
    display: inline-flex;
    padding: 2rem 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5625rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--white);
}

.workspace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9375rem;

    >.logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 1.875rem;
        overflow: hidden;

        >img:first-child {
            width: 3.75rem;
            height: 3.75rem;
        }

        >img:last-child {
            position: absolute;
            width: 2.16rem;
            height: 1.4505rem;
        }
    }

    >h2 {
        flex: 1 0 0;
        padding-right: 1.25rem;
    }

    >img {
        padding: 0.5rem;
    }
}

.channels,
.directmessages {
    box-shadow: none !important;

    >mat-expansion-panel-header {
        padding: 0.5rem 0;
        height: unset;

        mat-panel-title {

            display: flex;
            justify-content: space-between;
            margin: 0;
            width: 100%;

            >div {
                display: flex;
                gap: 0.625rem;
                padding-right: 0.625rem;

                >h3 {
                    font-size: 1.25rem;
                }
            }

            >img {
                padding: 0.1875rem;
            }
        }
    }
}

.channels {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;

    ::ng-deep::ng-deep .mat-expansion-panel-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5625rem;
        padding: 0 0 0 1.5625rem;
    }
}

::ng-deep::ng-deep .mat-expansion-indicator {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.9375rem !important;
    content: url(../../../assets/img/icons/arrow_drop_down.svg);
}

.channel-list {

    display: flex;
    flex-direction: column;
    gap: 0.8125rem;

    .channel {
        display: flex;
        padding: 0.25rem 1.25rem;
        align-items: center;
        gap: 0.625rem;
        border-radius: 1.25rem;

        >h3 {
            font-size: 1.125rem;
            font-weight: 400;
        }
    }

    .active {
        background: var(--bg-color);

        >img {
            content: url(../../../assets/img/icons/tag-purple-bold.svg);
        }

        >h3 {
            color: var(--purple-3);
            font-weight: 700;
        }
    }
}

.new-channel {
    display: flex;
    padding: 0.25rem 0.625rem;
    align-items: center;
    gap: 0.625rem;
    margin: 0 0 0 0.625rem;

    >img {
        width: 1.5rem;
        height: 1.5rem;
    }

    >span {
        font-size: 1.125rem;
        line-height: normal;
    }
}

.directmessages {
    ::ng-deep::ng-deep .mat-expansion-panel-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8125rem;
        padding: 0 0 0 1.5625rem;
    }
}

.contact {
    display: flex;
    padding: 0.25rem 1.25rem;
    align-items: center;
    gap: 0.9375rem;

    >div {
        height: 3.125rem;
        position: relative;

        >img:first-child {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
        }

        >img:last-child {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0.875rem;
            height: 0.875rem;
        }
    }

    >span {
        color: var(--Black, #000);
        font-family: Nunito;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}