<app-start>
    <button class="goBack" mat-icon-button (click)="this.location.back()">
        <img src="../../../assets/img/icons/arrow_back.svg" alt="Go back">
    </button>
    @if(accountCreated) {
        <app-avatar></app-avatar>
    } @else {
        <div class="description">
            <h1>Konto erstellen</h1>
            <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
        </div>
        <form (ngSubmit)="onSubmit(accountForm)" #accountForm="ngForm">
            <div>
                <input [(ngModel)]="name" type="text" placeholder="Name und Nachname" name="name" id="name" >
                <img src="../../../assets/img/icons/person-gray.svg">
            </div>
            <div>
                <input [(ngModel)]="email" type="email" placeholder="beispielname@email.com" name="email" id="email">
                <img src="../../../assets/img/icons/mail-gray.svg">
            </div>
            <div>
                <input [(ngModel)]="password" type="password" placeholder="Passwort" name="password"  id="password">
                <img src="../../../assets/img/icons/lock-gray.svg">
            </div>
            <mat-checkbox class="checkbox">Ich stimme der <a href="">Datenschutzerklärung</a> zu.</mat-checkbox>
            <button mat-flat-button class="submit">Weiter</button>
        </form>
    }
</app-start>