<app-start>
    <button class="goBack" mat-icon-button (click)="goBack()">
        <img src="../../../assets/img/icons/arrow_back.svg" alt="Go back">
    </button>
    <h1>Passwort zurücksetzen</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
        <div>
            <input type="password" formControlName="newPassword" placeholder="Neues Passwort">
            <div *ngIf="resetPasswordForm.get('newPassword')?.touched">
                <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Passwort ist erforderlich.</small>
                <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Passwort muss mindestens 6 Zeichen lang sein.</small>
                <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Passwort darf nur Buchstaben und Zahlen enthalten.</small>
            </div>
        </div>
        <div>
            <input type="password" formControlName="confirmNewPassword" placeholder="Neues Kennwort bestätigen">
            <div *ngIf="resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.get('confirmNewPassword')?.touched">
                <small>Die Passwörter stimmen nicht überein.</small>
            </div>
        </div>
        <button mat-flat-button class="submit" type="submit" [disabled]="resetPasswordForm.invalid">Passwort ändern</button>
    </form>
</app-start>