app-start {
    ::ng-deep::ng-deep .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:unset;
        height: unset;
        padding: 2.5rem 5.625rem;
        gap: 2.5rem;
    }
}

.goBack {
    position: absolute;
    top: 2.8125rem;
    left: 2rem;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;

    >img {
        width: 1.5rem;
        height: 1.5rem;

    }
}

h1 {
    color: var(--purple-1);
    font-size: 3rem;
    line-height: 120%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.5rem;
    gap: 2.5rem;
    width: 25rem;

    >div {
        width: 100%;
        position: relative;

        >input {

            border: 0;
            width: calc(100% - 2.5rem - 2.5rem);
            padding: 1.125rem 2.5rem;
            border-radius: 6.25rem;
            background: var(--bg-color);
            color: var(--black);
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 120%;
            /* 21.6px */
    
            &::placeholder {
                color: var(--text-gray);
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 120%;
            }

            &:hover {
                outline: 1px solid var(--light-purple-line);
            }

            &:focus {
                outline: 1px solid var(--purple-3);
            }
        }

        >small {
            position: absolute;
            left: 0;
            top: calc(100% + 0.375rem);
            animation: 100ms ease-in blendIn;
            color: var(--error);
            font-family: Nunito;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.submit {
    align-self: flex-end;
    width: min-content;
    padding: 0 1.5625rem;
    height: 3.0625rem;
    transition: 100ms ease-out;

    ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
        border-radius: 1.5625rem;
        background: var(--purple-1);
        overflow: hidden;
        transition: 100ms ease-out;
    }

    ::ng-deep::ng-deep .mat-mdc-button-ripple {
        border-radius: 1.5625rem;
        overflow: hidden;
    }

    ::ng-deep::ng-deep .mdc-button__label {
        color: var(--white);
        font-family: Nunito;
        font-size: 1.125rem;
        padding: 0;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        white-space: nowrap;
        letter-spacing: normal;
    }

    &:hover {

        ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
            background-color: var(--purple-2);

            &::before {
                opacity: 0;
            }
        }
    }
}

.disabled {
    border-radius: 1.5625rem;

    ::ng-deep::ng-deep .mat-mdc-button-persistent-ripple {
        background-color: var(--text-gray);
    }

    ::ng-deep::ng-deep .mdc-button__label {
        font-weight: 400;
        letter-spacing: normal;
    }
}

// Media Queries 

@media (max-width: 768px) {
    app-start {
        ::ng-deep::ng-deep .content {
            width: calc(92.5vw - 1.25rem - 1.25rem);
            height: unset;
            padding: 2.1875rem 1.25rem;
        }
    }

    .goBack {
        top: 2.1875rem;
        left: 1.25rem;
    }

    h1 {
        font-size: 2rem;
        margin: 0 2.5rem;
    }

    form {
        width: 100%;
        padding: 0;

        >div {
            >input {
                padding: 0.8125rem 2.5rem;
            }
        }
    }
}