<app-start>
    <button class="goBack" mat-icon-button (click)="goBack()">
        <img src="../../../assets/img/icons/arrow_back.svg" alt="Go back">
    </button>
    <h1>Passwort zurücksetzen</h1>
    <form (ngSubmit)="changePassword()">
        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Neues Passwort" required>
        <input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" placeholder="Neues Kennwort bestätigen" required>
        <button mat-flat-button class="submit" type="submit">Passwort ändern</button>
    </form>
</app-start>