// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import '../src/assets/fonts/fonts.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DABubble-primary: mat.define-palette(mat.$indigo-palette);
$DABubble-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DABubble-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$DABubble-theme: mat.define-light-theme((color: (primary: $DABubble-primary,
        accent: $DABubble-accent,
        warn: $DABubble-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($DABubble-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

* {
  --purple-1: #444DF2;
  --purple-2: #797EF3;
  --purple-3: #535AF1;
  --light-purple-line: #ADB0D9;
  --bg-color: #ECEEFE;
  --black: #000;
  --white: #FFF;
  --menu-color: #42526E;
  --text-gray: #686868;
  --online-green: #92C83E;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Figtree', 'Open Sans';
}