.ais-SearchBox {
    margin-bottom: 1em;
  }
  
  .ais-InstantSearch {
    max-width: 960px;
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto
  }
  
  .ais-Hits-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
  }
  
  .ais-Hits-item img {
    margin-right: 1em
  }