<app-start>
    <button
        class="goBack"
        mat-icon-button
        (click)="goBack()"
    >
        <img
            src="assets/img/icons/arrow_back.svg"
            alt="Go back"
        />
    </button>
    <h1>Passwort zurücksetzen</h1>
    <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="changePassword()"
    >
        <div>
            <input
                type="password"
                formControlName="newPassword"
                placeholder="Neues Passwort"
            />
            <small
                *ngIf="
                    (resetPasswordForm.get('newPassword')?.errors?.[
                        'required'
                    ] ||
                        resetPasswordForm.get('newPassword')?.errors?.[
                            'pattern'
                        ]) &&
                    resetPasswordForm.get('newPassword')?.touched
                "
                >Bitte geben Sie ein Passwort mit mindestens 6 Zeichen
                ein.</small
            >
        </div>
        <div>
            <input
                type="password"
                formControlName="confirmNewPassword"
                placeholder="Neues Kennwort bestätigen"
            />
            <small
                *ngIf="
                    resetPasswordForm.errors?.['mismatch'] &&
                    resetPasswordForm.get('confirmNewPassword')?.touched
                "
                >Ihre Kennwörter stimmen nicht überein.</small
            >
        </div>
        <button
            mat-flat-button
            class="submit"
            [ngClass]="{ disabled: resetPasswordForm.invalid }"
            type="submit"
            [disabled]="resetPasswordForm.invalid"
        >
            Passwort ändern
        </button>
    </form>
</app-start>
